{% extends 'auctions/base.html' %}
{% load static %}

{% block content %}
  <div class="row">
    <div class="col m-4">
      <h3>{{ auction.name }}</h3>
      <hr>
      <p>Description: {{ auction.description|linebreaksbr }}</p>
      <hr>
      <p>Start Date and Time: {{ auction.start_date|linebreaksbr }}</p>
      <p>Auction Close Date and Time: {{ auction.end_date|linebreaksbr }}</p>

      <a href="{% url 'auctions-list-page' %}">Back to List</a><hr>
      {% if user.is_authenticated %}
        <a href= "{% url 'new-item-page'%}">Add New Auction Item</a><hr>
        <a href= "{% url 'auction-update-page' auction.slug %}">Edit</a><hr>
        <a href= "{% url "auction-delete" auction.slug %}">Delete</a>
      {% endif %}
    </div>
  </div>

{% endblock %}