{% extends 'auctions/base.html' %}
{% load static %}

{% block content %}
    <div class="jumbotron" style="background-image: url('{% static 'auctions/images/bid.jpeg' %}')";>
        <h1 class="display-3">Stand</h1>
        <p class="lead lead1">Create a silent auction to support your cause!</p>
        <hr class="my-4">
        <p class="lead1">Sign Up/Log in to edit auctions and add items.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
<div class="container">
    <h1>Active Auctions</h1>
<ul>
    {% for auction in auctions %}
        <li><a href="{% url 'auction-details-page' auction.slug %}">{{ auction.name }}</a></li>
    {% endfor %}
</ul>
</div>
{% endblock %}